<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRoCyC7-nw57xvspUIaBbdkAcmW_rUWe0</string>
	<key>GCM_SENDER_ID</key>
	<string>184949755733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.global.foodapp</string>
	<key>PROJECT_ID</key>
	<string>food-app-project-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-project-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184949755733:ios:b76344187c1fa4eec729dc</string>
</dict>
</plist>